.categories-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px; /* Increase the gap between grid items */
  padding: 40px;
}

.category-link {
  text-decoration: none; /* Remove default link styling */
}

.category-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000; /* Black background */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #fff; /* White text */
  aspect-ratio: 1; /* Ensures the cell is square */
}

.categories-title {
  font-size: 24px; /* Adjust font size as needed */
  font-weight: bold;
  margin: 40px 0; /* Margin to push the title down from the header */
  text-align: center; /* Center align the title */
}

.header {
  margin-bottom: 40px;
}

.logo {
  color: #00aaff;
  font-size: 24px;
  margin: 0;
  display: inline;
}

.tagline {
  font-size: 14px;
  color: white;
  margin: 0;
  display: inline;
}

.logo .white-text {
  color: #ffffff; /* Set the color of "Fuels" to white */
}
